#blog-photo-auto {
    object-fit: cover;
    object-position: 100% 50%;
    width: 100%;
    height: 250px;
}


body {
    margin: 0px;

}

.uk-border-rounded {
    border-radius: 5px;
}

.uk-card-default .uk-card-title {
    color: #ffffff;
}

.uk-grid-collapse > *,
.uk-grid-column-collapse > * {
    padding-left: 30px;
}

.uk-navbar-container {
    transition: background-color 0.5s ease;
}



.uk-overlay-primary {
    background-image: linear-gradient(-1deg, #ffffff00 0%, #ff5858 70%);

}


.uk-card-secondary {
    background: rgb(254 165 115);
    color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0%);
}


.uk-card-default {
    background-color: #f0f8ff80;
    padding: 10px 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #9b9b9b;
    border-radius: 20px;
}

.uk-button-warning {
    background-color: #ffffff00;
    color: #fff;
    border: 3px solid #f8f8f8;
}

.uk-card-primary.uk-card-body,
.uk-card-primary > :not([class*=uk-card-media]),
.uk-card-secondary.uk-card-body,
.uk-card-secondary > :not([class*=uk-card-media]),
.uk-light,
.uk-offcanvas-bar,
.uk-overlay-primary,
.uk-section-primary:not(.uk-preserve-color),
.uk-section-secondary:not(.uk-preserve-color),
.uk-tile-primary:not(.uk-preserve-color),
.uk-tile-secondary:not(.uk-preserve-color) {
    color: rgb(255 255 255);
}

}

.uk-animation-zoom-onhover:hover {
    transition: 1s;
    transition-property: all;
    transition-duration: 2s;
    transform: 2s;
    transform: translateY(10%);
}

.skew-right {
    transform: skewY(4deg);
}

.skew-left {
    transform: skewY(-4deg);
}

.skew {
    height: 100px;
    margin-top: -50px;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

.scroll::-webkit-scrollbar:vertical {
    width: 5px;
}

.scroll::-webkit-scrollbar:horizontal {
    height: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #1e87f0;
    border-radius: 50px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ff9700;
    border-radius: 50px;
    transition: color .3s ease;
}

.scroll::-webkit-scrollbar-track {
    background-color: #333;
}

/*Estilos estándar experimentales (Principalmente Firefox)*/

.scroll {
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

/* abro codigos dca*/

.uk-card-defaulta {
    background-color: #2d2d2d;
    display: contents "";
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;

}


.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.uk-contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1f));
    width: 95% margin: auto;
    grid-gap: 10px
}

.contenedora {
    display: flex;
    width: 1000px;
    height: 50px;
    color: #222;
    font-size: 48px;
    line-height: 50px;
    position: absolute;
    top: AUTO;
    right: auto;
    bottom: 20px;
    left: auto;
    margin: auto;
    font-weight: 800;
    overflow: hidden;
}

ula {
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
}

ula,
p {
    margin: 0;
}

@keyframes cambiar {


    0% {
        margin-top: 0;
    }

    20% {
        margin-top: 0px
    }

    30% {
        margin-top: 0px
    }

    40% {
        margin-top: -50px
    }

    50% {
        margin-top: -50px
    }



    60% {
        margin-top: -99px
    }

    80% {
        margin-top: -99px
    }


    100% {
        margin-top: 0px;
    }

}


.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.contenedor figure {
    position: relative;
    height: auto;
    cursor: pointer;
    width: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}

.contenedor figure img {
    width: auto;
    height: 100%;
    transition: all 700ms ease-out;
}

.contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #43079ba3;
    transition: all 600ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: left;
}

.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover > .capa h3 {
    margin-top: auto;
    margin-bottom: auto;
}

.contenedor figure:hover > img {
    transform: scale(1.2);
}

.contenedor figure .capa h3 {
    color: #fff;
    font-weight: 10px;
    margin-bottom: auto;
    transition: all 200ms ease-out;
    margin-top: auto;
}

.contenedor figure .capa p {
    color: #ffffff;
    font-size: 10px;
    line-height: 1.2;
    width: auto;
    max-width: auto;
    margin: auto;
}


.uk-card-defaultb {
    background-color: #2d2d2dcf;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;

}

.movea {
    max-width: none;
    position: absolute;
    left: 20px;
    top: 73%;
    margin-right: 20px;
}

.moveb {
    max-width: none;
    position: absolute;
    left: 40px;
    top: 33%;
    margin-right: -90px;
}

.movec {
    max-width: none;
    position: relative;
    left: 0%;
    top: -5%;
    transform: translate(20px, 20px);
    margin-right: 20px;
}

.movee {
    max-width: none;
    position: relative;
    left: 30%;
    top: -15%;
    transform: translate(-50px, 50px);
    margin-right: -90px;
}

.movef {
    max-width: none;
    position: absolute;
    left: 350px;
    top: -3%;
    transform: translate(20px, 20px);
    margin-right: 20px;
}

.moveg {
    max-width: none;
    position: absolute;
    left: 840px;
    top: 300px;
    transform: translate(20px, 20px);
    margin-right: 20px;

}

#Button-Blue {
    display: block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid #ffff;
    background-image: linear-gradient(to right, rgb(23, 228, 243), rgb(0, 141, 235));
    box-shadow: 0px 15px 25px rgb(0 141 235 / 42%);
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    margin: auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;

}

#Button-Blue:before {
    content: "¡Quiero!";
    position: relative;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 6px;
    transition: all .25s;
    z-index: -1;

}

#Button-Blue:after {
    content: "¿Me eliges?";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 6px;
    background-image: linear-gradient(to right, rgb(23, 228, 243), rgb(0, 141, 235));
    transition: all .25s;
    z-index: -1;
    opacity: 0;
}

#Button-Blue:hover {
    border: 1px solid transparent;
    color: #fff;
}

#Button-Blue:hover::before {
    height: 100%;
    opacity: 0;
}

#Button-Blue:hover::after {
    height: 100%;
    opacity: 1;
}


#Button-exit {
    display: block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid #ffff;
    background-image: linear-gradient(-90deg, #ff5858 0%, #f09819 40%);
    box-shadow: 0px 0px 10px #ff5858;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    margin: auto;
    transition: all .5s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;

}


#Button-exit:before {
    content: "Leyendo";
    position: relative;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border: 1px solid #ffff transparent;
    border-radius: 6px;

}

#Button-exit:after {
    content: "Terminado";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 6px;
    transition: all .5s;
    z-index: -1;
    opacity: 0;
}

#Button-exit:hover {
    border: 1px solid #ffff;
    color: #fff;
}

#Button-exit:hover::before {
    height: 100%;
    opacity: 0;
}

#Button-exit:hover::after {
    height: 100%;
    opacity: 1;
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 40px;
    background-color: #f87c5d94;
    border: 1px solid #ffff;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

/* abrir boton inicial*/
.Button-ule {
    content: "Conoce mas";
    cursor: pointer;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background: rgba(3, 169, 244, .7);
    padding: 70px 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    border-radius: 50%;
    border: 0.1px solid #ffffff54;
    animation: animacion1 2s linear infinite;
    overflow: hidden;
    outline: none;

}

.Button-ule:hover {
    border: 1px solid #ffff;
    background: rgb(69 37 143 / 63%);
    color: #fff;
    text-decoration: none;
}


@keyframes animacion1 {
    0% {
        box-shadow: 0 0 0 0 rgba(3, 169, 244, .6), 0 0 0 0 rgba(3, 169, 244, .6);
    }

    30% {
        box-shadow: 0 0 0 100px rgba(3, 169, 244, , 0), 0 0 0 0 rgba(3, 169, 244, .6);
    }

    65% {
        box-shadow: 0 0 0 100px rgba(3, 169, 244, 0), 0 0 0 30px rgba(3, 169, 244, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(233, 30, 99, 0), 0 0 0 30px rgba(233, 30, 99, 0);
    }
}

/* cierro boton inicial*/



/*Menù lateral*/
#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1ccf;
    background-color: rgba(28, 28, 28, 0.81);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #ff5858c2;
    background: #1e87f0b8;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/*Fin de Menù lateral*/



/* cierro codigos dca*/
