#blog-photo-auto {
    object-fit: cover;
    object-position: 100% 50%;
    width: 100%;
    height: 250px;
}

.uk-border-rounded {
    border-radius: 25px;
}

.uk-card-default .uk-card-title {
    color: #ffffff;
}

/* codigos dago*/

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.uk-contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1f));
    width: 95% margin: auto;
    grid-gap: 10px
}

.contenedora {
    display: flex;
    width: 1000px;
    height: 50px;
    color: #222;
    font-size: 48px;
    line-height: 50px;
    position: absolute;
    top: AUTO;
    right: auto;
    bottom: 20px;
    left: auto;
    margin: auto;
    font-weight: 800;
    overflow: hidden;
}

ula {
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
}

ula,
p {
    margin: 0;
}

@keyframes cambiar {


    0% {
        margin-top: 0;
    }

    20% {
        margin-top: 0px
    }

    30% {
        margin-top: 0px
    }

    40% {
        margin-top: -50px
    }

    50% {
        margin-top: -50px
    }



    60% {
        margin-top: -99px
    }

    80% {
        margin-top: -99px
    }


    100% {
        margin-top: 0px;
    }

}


.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.contenedor figure {
    position: relative;
    height: auto;
    cursor: pointer;
    width: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}

.contenedor figure img {
    width: auto;
    height: 100%;
    transition: all 700ms ease-out;
}

.contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #43079ba3;
    transition: all 600ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: left;
}

.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover > .capa h3 {
    margin-top: auto;
    margin-bottom: auto;
}

.contenedor figure:hover > img {
    transform: scale(1.2);
}

.contenedor figure .capa h3 {
    color: #fff;
    font-weight: 10px;
    margin-bottom: auto;
    transition: all 200ms ease-out;
    margin-top: auto;
}

.contenedor figure .capa p {
    color: #ffffff;
    font-size: 10px;
    line-height: 1.2;
    width: auto;
    max-width: auto;
    margin: auto;
}


.righta {
    max-width: none;
    position: absolute;
    left: 57%;
    top: 75%;
    transform: translate(-5px, 6px);
    margin-right: 20px;
}


.uk-card-defaultb {
    background-color: #2d2d2dcf;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;

}

.rightb {

    max-width: none;
    position: absolute;
    left: 45%;
    top: -1%;
    transform: translate(-50px, 50px);
    margin-right: -90px;
}


/*Cierre- continua codigo*/




.uk-grid-collapse > *,
.uk-grid-column-collapse > * {
    padding-left: 30px;
}

.uk-navbar-container {
    transition: background-color 0.5s ease;
}



.uk-overlay-primary {
    background-image: linear-gradient(-1deg, #ffffff00 0%, #ff5858 70%);

}


.uk-card-secondary {
    background: rgb(254 165 115);
    color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0%);
}


.uk-card-default {
    display: contents "";
    padding: 10px 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #9b9b9b;
    border-radius: 20px;

}

.uk-card-defaulta {
    background-color: #2d2d2d;
    display: contents "";
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;

}


.uk-button-warning {
    background-color: #ffffff00;
    color: #fff;
    border: 3px solid #f8f8f8;
}

.uk-card-primary.uk-card-body,
.uk-card-primary > :not([class*=uk-card-media]),
.uk-card-secondary.uk-card-body,
.uk-card-secondary > :not([class*=uk-card-media]),
.uk-light,
.uk-offcanvas-bar,
.uk-overlay-primary,
.uk-section-primary:not(.uk-preserve-color),
.uk-section-secondary:not(.uk-preserve-color),
.uk-tile-primary:not(.uk-preserve-color),
.uk-tile-secondary:not(.uk-preserve-color) {
    color: rgb(255 255 255);
}

}

.uk-animation-zoom-onhover:hover {
    transition: 1s;
    transition-property: all;
    transition-duration: 2s;
    transform: 2s;
    transform: translateY(10%);
}

.skew-right {
    transform: skewY(4deg);
}

.skew-left {
    transform: skewY(-4deg);
}

.skew {
    height: 100px;
    margin-top: -50px;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

.scroll::-webkit-scrollbar:vertical {
    width: 5px;
}

.scroll::-webkit-scrollbar:horizontal {
    height: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #1e87f0;
    border-radius: 50px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ff9700;
    border-radius: 50px;
    transition: color .3s ease;
}

.scroll::-webkit-scrollbar-track {
    background-color: #333;
}

/*Estilos estándar experimentales (Principalmente Firefox)*/

.scroll {
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

/* abro codigos dca*/

#Button-Blue {
    display: block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid #ffff;
    background-image: linear-gradient(to right, rgb(23, 228, 243), rgb(0, 141, 235));
    box-shadow: 0px 15px 25px rgb(0 141 235 / 42%);
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    margin: auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;

}

#Button-Blue:before {
    content: "¡Quiero!";
    position: relative;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 6px;
    transition: all .25s;
    z-index: -1;

}

#Button-Blue:after {
    content: "¿Me eliges?";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 6px;
    background-image: linear-gradient(to right, rgb(23, 228, 243), rgb(0, 141, 235));
    transition: all .25s;
    z-index: -1;
    opacity: 0;
}

#Button-Blue:hover {
    border: 1px solid transparent;
    color: #fff;
}

#Button-Blue:hover::before {
    height: 100%;
    opacity: 0;
}

#Button-Blue:hover::after {
    height: 100%;
    opacity: 1;
}

/* cierro codigos dca*/

#Button-exit {
    display: block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid #ffff;
    background-image: linear-gradient(-90deg, #ff5858 0%, #f09819 40%);
    box-shadow: 0px 0px 10px #ff5858;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    margin: auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;

}

/* abro codigos dca*/

#Button-exit:before {
    content: "Leyendo...";
    position: relative;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 6px;
    transition: all .25s;
    z-index: -1;

}

#Button-exit:after {
    content: "Terminado";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 6px;
    background-image: linear-gradient(-90deg, #ff5858 0%, #f09819 40%);
    transition: all .25s;
    z-index: -1;
    opacity: 0;
}

#Button-exit:hover {
    border: 1px solid transparent;
    color: #fff;
}

#Button-exit:hover::before {
    height: 100%;
    opacity: 0;
}

#Button-exit:hover::after {
    height: 100%;
    opacity: 1;
}

.animate-svg {
    width: 1200px;
    margin: 0;
}

.animate-svg svg {
    stroke-width: .6px;
    stroke: #000;
    width: 100%;
    height: 100%;
    stroke-dashoffset: 250;
    stroke-dasharray: 520;
    animation-duration: 20s;
    animation-name: svganimation;
    animation-iteration-count: infinite;


}


@keyframes svganimation {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 1560;
    }

    80% {
        stroke-dashoffset: 3120;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3120;
        fill: #000;
    }
}


/* cierro codigos dca*/
